{% extends "templates/web.html" %}
{% block title %}{% endblock %}
{% block hero %}{% endblock %}

{% block page_content %}

{{ web_block("Hero",
	values={
		'title': blog_title or _("Blog"),
		'subtitle': blog_introduction or '',
	},
	add_container=0,
	add_top_padding=0,
	add_bottom_padding=0,
	css_class="py-5"
) }}

<span id="title-place" hidden>{{ blog_title or _("News") }}</span>
<div class="blog-list-content">
	<div class="website-list" data-doctype="{{ doctype }}" data-txt="{{ txt or '[notxt]' | e }}">
		{% if not result -%}
		<div class="text-muted" style="min-height: 300px;">
			{{ no_result_message or _("Nothing to show") }}
		</div>
		{% else %}
		<div id="blog-list" class="blog-list result row">
			{% for item in result %}
			{{ item }}
			{% endfor %}
		</div>
		{% endif %}
		<button class="btn btn-light btn-more btn {% if not show_more -%} hidden {%- endif %}">{{ _("Load More") }}</button>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
	{% include "templates/includes/list/list.js" %}
	let a = document.querySelectorAll("a")

	for (const row of a) {
		if(row && row.href)
		row.href = row.href.replace("/blog", "/news")
	}

	let route = document.location.pathname
	route = route.split("/")
	
	if(route.length > 2){
		let title = "Neu Ocean Technologies" + " | " + route[route.length - 1]
		title = title.replace("-", " ").replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase());
		document.title = title
	}else {
		document.title = "Neu Ocean Technologies | Breaking news about Neu Ocean and its products"
	}
</script>

{% endblock %}
